---
---
<div class="bg-white min-h-screen flex items-center justify-center p-4">
<section class="py-20 bg-white">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
        <div class="mb-16 text-center">
            <div class="w-full flex items-center flex-col gap-1 justify-center mb-16 px-4">
                <p class="text-sm sm:text-lg font-semibold text-blue-600">Nuestros Servicios</p>
                <h3 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Soluciones a medida para tu crecimiento</h3>
            </div>
        </div>
        <div class="grid gap-8 mb-20 md:grid-cols-2 lg:grid-cols-3">
            <!--class="rounded-sm border-[1.2px] border-white/20 dark:border-black/20 shrink-0 grow-0 md:w-[440px] sm:w-[320px] w-[280px]"-->
            <div class="group p-8 rounded-sm border-[1.2px] border-white/20 dark:border-black/20">
                <div class="items-center justify-center bg-purple-600 transition-colors duration-300 flex w-[64px] h-[64px] mb-6 rounded-full">
                    <div>
                        <svg
                                class="w-8 h-8 text-white transition-colors duration-300"
                                fill="currentColor"
                                stroke="currentColor"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M320 128C241 128 175.3 185.3 162.3 260.7C171.6 257.7 181.6 256 192 256L208 256C234.5 256 256 277.5 256 304L256 400C256 426.5 234.5 448 208 448L192 448C139 448 96 405 96 352L96 288C96 164.3 196.3 64 320 64C443.7 64 544 164.3 544 288L544 456.1C544 522.4 490.2 576.1 423.9 576.1L336 576L304 576C277.5 576 256 554.5 256 528C256 501.5 277.5 480 304 480L336 480C362.5 480 384 501.5 384 528L384 528L424 528C463.8 528 496 495.8 496 456L496 435.1C481.9 443.3 465.5 447.9 448 447.9L432 447.9C405.5 447.9 384 426.4 384 399.9L384 303.9C384 277.4 405.5 255.9 432 255.9L448 255.9C458.4 255.9 468.3 257.5 477.7 260.6C464.7 185.3 399.1 127.9 320 127.9z"/></svg>
                    </div>
                </div>
                <h3 class="mb-4 text-2xl font-bold text-gray-900">
                    Soporte Tecnico / CAU
                </h3>
                <p class="mb-6 text-gray-600">
                    Brindamos atención al usuario, gestión de incidencias y soporte remoto o presencial con soluciones ágiles, confiables y orientadas al cliente.
                </p>
                <ul class="space-y-2 text-sm text-gray-600">
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-purple-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Atención al usuario (Help Deck)</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-purple-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Gestión de incidencias y tickets</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-purple-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Soporte remoto y presencial</span>
                    </li>
                </ul>
            </div>
            <div class="group p-8 rounded-sm border-[1.2px] border-white/20 dark:border-black/20">
                <div class="items-center justify-center bg-green-600 transition-colors duration-300 flex w-[64px] h-[64px] mb-6 rounded-full">
                    <div>
                        <svg
                                class="w-8 h-8 text-white transition-colors duration-300"
                                fill="currentColor"
                                stroke="currentColor"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M333.4 66.9C329.2 65 324.7 64 320 64C315.3 64 310.8 65 306.6 66.9L118.3 146.8C96.3 156.1 79.9 177.8 80 204C80.5 303.2 121.3 484.7 293.6 567.2C310.3 575.2 329.7 575.2 346.4 567.2C518.8 484.7 559.6 303.2 560 204C560.1 177.8 543.7 156.1 521.7 146.8L333.4 66.9zM313.6 247.5L320 256L326.4 247.5C337.5 232.7 354.9 224 373.3 224C405.7 224 432 250.3 432 282.7L432 288C432 337.1 366.2 386.1 335.5 406.3C326 412.5 314 412.5 304.6 406.3C273.9 386.1 208.1 337 208.1 288L208.1 282.7C208.1 250.3 234.4 224 266.8 224C285.3 224 302.7 232.7 313.7 247.5z"/></svg>
                    </div>
                </div>
                <h3 class="mb-4 text-2xl font-bold text-gray-900">
                    Mantenimiento informatico
                </h3>
                <p class="mb-6 text-gray-600">
                    Ofrecemos mantenimiento integral de PCs, limpieza física, actualización de software y sustitución de hardware para optimizar rendimiento empresarial.
                </p>
                <ul class="space-y-2 text-sm text-gray-600">
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-green-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Mantenimiento de PCs y servicios</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-green-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Limpieza física y actualización de software</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-green-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="text-gray-700">Revisión t sustitución de hardware</span>
                    </li>
                </ul>
            </div>
            
            <div class="group p-8 rounded-sm border-[1.2px] border-white/20 dark:border-black/20">
                <div class="items-center justify-center bg-blue-600 transition-colors duration-300 flex w-[64px] h-[64px] mb-6 rounded-full ">
                    <div>
                        <svg class="w-8 h-8 text-white transition-colors duration-300" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path></svg>
                    </div>
                </div>
                <h3 class="mb-4 text-2xl font-bold">
                    Desarrollo Web & App
                </h3>
                <p class="mb-6">
                    Desarrollamos y mantenemos páginas web, aplicaciones móviles y plataformas digitales innovadoras que impulsan la presencia y crecimiento empresarial.
                </p>
                <ul class="space-y-2 text-sm">
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-blue-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="">Creación y mantenimiento de páginas web</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-blue-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="">Desarrollo de aplicaciones Android & iOS</span>
                    </li>
                    <li class="items-center flex">
                        <svg class="w-4 h-4 text-blue-600 mr-2 rtl:ml-2 rtl:mr-0" fill="none" stroke="currentColor" viewbox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <span class="">Soluciones y plataformas digitales</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
