---
import Carrusel from "./Carrusel.astro";
import Testimonials from "./Testimonials.astro";
import Mission from "./Mission.astro";
import About from "./About.astro";
import HowWeWork from "./HowWeWork.astro";
import Services from "./Services.astro";
import CTA from "./CTA.astro";
import ServicesOne from "./ServicesOne.astro";
import ServicesTwo from "./ServicesTwo.astro";
---
	<main>
      <Carrusel />

      <About />
      
      <Mission />
      
      <Services />
      <ServicesOne />
      <ServicesTwo />
      
      <CTA />
      
      <HowWeWork />
      
      <Testimonials />
	</main>