---
import Carrusel from "./Carrusel.astro";
import Testimonials from "./Testimonials.astro";
import Mission from "./Mission.astro";
import About from "./About.astro";
import HowWeWork from "./HowWeWork.astro";
import Services from "./Services.astro";
import CTA from "./CTA.astro";
import ServicesOne from "./ServicesOne.astro";
import ServicesTwo from "./ServicesTwo.astro";
import HowWeWorkOne from "./HowWeWorkOne.astro";
---
	<main>
      <div id="inicio"></div>
      <Carrusel />
      <div id="sobre-nosotros"></div>
      <About />
      <CTA />
      
      <!--<Mission />-->
      <!--<Services />-->
      <!--<ServicesOne />-->
      <div id="servicios"></div>
      <ServicesTwo />
      
      <HowWeWork />
      <!--<HowWeWorkOne />-->
      <div id="nuestros-clientes"></div>
      <Testimonials />
	</main>