---
import Carrusel from "./Carrusel.astro";
import Testimonials from "./Testimonials.astro";
import Mission from "./Mission.astro";
---
	<main>
      <Carrusel />

      <Testimonials />
      
      <Mission />
	</main>